* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.container-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.column {
  flex: 50%; }

.row {
  display: flex;
  flex-wrap: wrap; }

header {
  position: relative;
  z-index: 9999; }

.nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 1em;
  width: 100%;
  display: flex;
  position: fixed; }
  .nav a {
    margin: 1% 0 1% 5%; }
  .nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none; }
    .nav ul li {
      margin: 0 2% 0 0;
      font-family: 'PT Sans', sans-serif; }
      .nav ul li a {
        text-decoration: none;
        color: white; }
      .nav ul li a:hover {
        color: #868686;
        text-decoration: none; }
    .nav ul li:nth-last-child(5) {
      margin-right: 10%; }
    .nav ul a {
      margin: 0 2% 0 0; }
    .nav ul a:nth-last-child(1) {
      margin-right: 15%; }

.creatives {
  background-image: url("/img/bg1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: context-menu; }
  .creatives h1 {
    position: relative;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 153px;
    font-weight: 700;
    letter-spacing: -1.92px;
    color: white;
    margin-top: 1.6em;
    -webkit-animation: color-change 5s infinite;
    -moz-animation: color-change 5s infinite;
    animation: color-change 5s infinite; }

@-webkit-keyframes color-change {
  0% {
    color: #808080; }
  50% {
    color: #ffff; }
  100% {
    color: #808080; } }

@-moz-keyframes color-change {
  0% {
    color: #808080; }
  50% {
    color: #ffff; }
  100% {
    color: #808080; } }

@keyframes color-change {
  0% {
    color: #808080; }
  50% {
    color: #ffff; }
  100% {
    color: #808080; } }
  .creatives h2 {
    position: relative;
    text-transform: uppercase;
    color: #11749e;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 20px;
    margin-bottom: 5em;
    display: inline-block;
    background-size: 120% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(45deg, #7794ff, #66ccff, #1ab2ff, #005580);
    animation: .8s shake infinite alternate; }

@keyframes shake {
  0% {
    transform: skewX(-15deg); }
  5% {
    transform: skewX(15deg); }
  10% {
    transform: skewX(-15deg); }
  15% {
    transform: skewX(15deg); }
  20% {
    transform: skewX(0deg); }
  100% {
    transform: skewX(0deg); } }
  .creatives div {
    color: white;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    margin-top: 5em; }
    .creatives div p {
      padding: 2em; }
    .creatives div a {
      width: 65px;
      height: 65px;
      border: 1px solid white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .creatives div a i {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 8px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg); }

.feature {
  background-color: #11749e;
  padding: 5em;
  width: 100%;
  text-align: center;
  cursor: context-menu; }
  .feature h1 {
    color: #2e85aa;
    font-family: 'Roboto', sans-serif;
    font-size: 247px;
    font-weight: 700;
    line-height: 210.64px;
    text-transform: uppercase;
    position: relative; }
  .feature h2 {
    position: absolute;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 500;
    line-height: 45.06px;
    text-transform: uppercase; }
  .feature .feature__text {
    width: 25%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .feature .feature__text h3 {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;
      text-transform: uppercase; }
    .feature .feature__text p {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 200;
      line-height: 24px; }
  .feature .feature__circle {
    width: 100px;
    height: 100px;
    background-color: #2e85aa;
    border-radius: 50%; }
    .feature .feature__circle img {
      position: relative;
      top: 50%;
      left: 20%;
      transform: translate(-60%, -50%); }

.akita {
  cursor: context-menu; }
  .akita img {
    width: 100%;
    height: 100%; }
  .akita p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px; }
  .akita h1 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    margin: .5em 0 1.5em 0; }
  .akita .akita__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em; }

.blog {
  padding: 5em;
  text-align: center;
  cursor: context-menu; }
  .blog h1 {
    opacity: 0.18;
    color: #222222;
    font-family: "Roboto";
    font-size: 247px;
    font-weight: 400;
    line-height: 210.64px;
    text-transform: uppercase;
    position: relative; }
  .blog h2 {
    position: absolute;
    color: #222222;
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 500;
    line-height: 45.06px;
    text-transform: uppercase; }
  .blog h3 {
    color: #222222;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    margin-bottom: 1em; }
  .blog .blog__text {
    width: 25%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .blog .blog__text h3 {
      color: #11749e;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;
      text-transform: uppercase; }
    .blog .blog__text p {
      color: #222222;
      font-family: Montserrat;
      font-size: 10px;
      font-weight: 400;
      line-height: 24px; }

.extra {
  background-color: #11749e;
  cursor: context-menu; }
  .extra .extra__text {
    display: flex;
    justify-content: center;
    padding: 5vw; }
    .extra .extra__text img {
      margin-right: 2em; }
    .extra .extra__text p {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px; }

.mockup {
  background-image: url("/img/bg2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 8vw;
  cursor: context-menu; }
  .mockup .mockup__text {
    width: 40%; }
  .mockup h1 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 2em; }
  .mockup p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    width: 80%;
    margin-bottom: 2em; }
  .mockup h2 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    margin: 1em 0 0 0; }
  .mockup h2:nth-child(3) {
    width: 340px;
    background-color: #11749e;
    cursor: context-menu; }
  .mockup h2:nth-child(4) {
    width: 360px;
    background-color: #11749e;
    cursor: context-menu; }
  .mockup h2:nth-child(5) {
    width: 380px;
    background-color: #11749e;
    cursor: context-menu; }

.team {
  padding: 5em;
  text-align: center;
  cursor: context-menu; }
  .team h1 {
    color: #222222;
    font-family: "Roboto";
    font-size: 247px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: .2;
    position: relative; }
  .team h2 {
    color: #222222;
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute; }
  .team h3 {
    color: #222222;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400; }
  .team .team__text {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    .team .team__text h1 {
      color: #11749e;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      text-transform: uppercase;
      opacity: 1;
      position: static; }
    .team .team__text h2 {
      color: #000000;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      position: static; }
  .team .team__text:hover {
    opacity: .7; }
  .team .team__name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 216px;
    height: 117px;
    background-color: #ffffff;
    position: absolute;
    top: 85%; }

.contact {
  padding: 4em;
  margin-top: 9em;
  background-image: url("/img/bg2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: context-menu; }
  .contact h1 {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 247px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.18;
    position: relative; }
  .contact h2 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 37px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    margin-bottom: 1em; }
  .contact form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .contact form input {
      margin: 2em 1em 1em 2em;
      padding: 15px;
      width: 30%;
      border: 1px solid white;
      background-color: rgba(0, 0, 0, 0.3);
      color: #ffffff;
      font-family: Montserrat;
      font-size: 15px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0.3px; }
    .contact form input:nth-child(4) {
      width: 100%;
      padding-bottom: 13em; }
    .contact form input::placeholder {
      color: white; }
  .contact .contact__btn {
    width: 227px;
    height: 64px;
    background-color: #11749e;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    border: none;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 2em;
    cursor: pointer; }

footer {
  height: 100px;
  background-color: #222222;
  color: white; }
