@media (max-width: 1300px) {
  .creatives h1 {
    font-size: 15vw;
    margin-top: .4em; }
  .creatives h2 {
    font-size: 2vw;
    letter-spacing: 10px; }
  .blog .blog__text {
    width: 50%; }
  .mockup {
    padding-left: 1em; }
    .mockup img {
      max-width: 80%; }
  .contact form input {
    width: 100%;
    margin: 1em 1em 1em 0; } }

@media (max-width: 900px) {
  .nav ul li {
    display: none; }
  .feature {
    padding: 5em 1em 2em 1em; }
    .feature h2 {
      font-size: 30px; }
    .feature .feature__text {
      width: 50%; }
  .akita .column {
    flex: 100%; }
  .blog h3 {
    font-size: 5vw; }
  .blog .blog__text {
    width: 100%;
    padding: 0; }
  .team h3 {
    font-size: 5vw; }
  .extra .extra__text {
    padding: 3vw; }
    .extra .extra__text img {
      padding: 1em;
      height: 100px; }
  .mockup .mockup__text {
    width: 50%; }
  .mockup h2:nth-child(3) {
    width: 240px; }
  .mockup h2:nth-child(4) {
    width: 260px; }
  .mockup h2:nth-child(5) {
    width: 280px; } }

@media (max-width: 600px) {
  .feature .feature__text {
    width: 100%; }
  .blog h3 {
    line-height: 24px; }
  .extra .extra__text {
    padding: 4vw;
    width: 100vw; }
    .extra .extra__text img {
      margin-right: .2em;
      width: 80px; }
  .team .team__text {
    padding: 1em 0 1em 0; }
  .contact .contact__btn {
    max-width: 150px;
    height: 44px;
    font-size: 20px; } }
